BOT_TOKEN=bu_yerga_telegram_bot_tokeningiz
SUPER_ADMIN_ID=sizning_telegram_id_ingiz
ADMIN_IDS=admin1_id,admin2_id
SUPPORT_PHONE=+998XXXXXXXXX
SUPPORT_USERNAME=telegram_username

# "Kelgan yuklar" guruhiga avtomatik rasm yuborish uchun
KELGAN_YUKLAR_CHAT_ID=
KELGAN_YUKLAR_TOPIC_ID=
